In [1]:
import pandas as pd
import numpy as np
np.random.seed(777)

In [2]:
baseline = pd.read_json('df_baseline_scored.json', orient='records', lines=True)

In [3]:
baseline = baseline.sort_values('duration_months').reset_index(drop=True)

In [4]:
rand = []
for i in range(800):
    if i < 160:
        rand.append(np.random.rand() * 0.4)
    elif i < 320:
        rand.append(np.random.rand() * 0.4 + 0.2)
    elif i < 480:
        rand.append(np.random.rand()* 0.4 + 0.4)
    elif i < 640:
        rand.append(np.random.rand() * 0.4 + 0.6)
    else:
        rand.append(np.random.rand() * 0.2 + 0.8)

In [5]:
baseline['rand'] = rand

In [6]:
def num_vals(a, b):
    if not a:
        a = 0
    if not b:
        b = 1
    print(
        baseline[(baseline['rand'] >= a) & (baseline['rand'] < b)].shape
    )

In [7]:
num_vals(None, .28)

(156, 24)

In [8]:
num_vals(0.28, .48)

(161, 24)

In [9]:
num_vals(.48, .7)

(166, 24)

In [10]:
num_vals(.7, .865)

(159, 24)

In [11]:
num_vals(.865, None)

(158, 24)

In [12]:
prod_1 = baseline[baseline['rand'] < 0.28].reset_index(drop=True).drop('rand', axis=1)
prod_1.to_csv('./prod_data_scored/prod_1.csv')

In [13]:
prod_2 = baseline[(baseline['rand'] >= 0.28) & (baseline['rand'] < 0.48)].reset_index(drop=True).drop('rand', axis=1)
prod_2.to_csv('./prod_data_scored/prod_2.csv')

In [14]:
prod_3 = baseline[(baseline['rand'] >= 0.48) & (baseline['rand'] < 0.7)].reset_index(drop=True).drop('rand', axis=1)
prod_3.to_csv('./prod_data_scored/prod_3.csv')

In [15]:
prod_4 = baseline[(baseline['rand'] >= 0.7) & (baseline['rand'] < 0.865)].reset_index(drop=True).drop('rand', axis=1)
prod_4.to_csv('./prod_data_scored/prod_4.csv')

In [16]:
prod_5 = baseline[(baseline['rand'] >= 0.865)].reset_index(drop=True).drop('rand', axis=1)
prod_5.to_csv('./prod_data_scored/prod_5.csv')

In [17]:
prod_1.describe()

,id,duration_months,credit_amount,installment_rate,present_residence_since,age_years,number_existing_credits,number_people_liable,label_value,score
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,444.538462,9.211538,1823.564103,2.685897,2.833333,37.846154,1.378205,1.198718,0.185897,0.365385
std,276.356091,2.821598,1825.798029,1.227662,1.112007,13.064680,0.583017,0.400320,0.390277,0.483089
min,0.000000,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000,0.000000,0.000000
25%,205.250000,6.000000,905.750000,1.750000,2.000000,27.000000,1.000000,1.000000,0.000000,0.000000
50%,431.000000,9.000000,1311.000000,3.000000,3.000000,35.000000,1.000000,1.000000,0.000000,0.000000
75%,695.500000,12.000000,2087.000000,4.000000,4.000000,47.250000,2.000000,1.000000,0.000000,1.000000
max,991.000000,15.000000,14896.000000,4.000000,4.000000,75.000000,3.000000,2.000000,1.000000,1.000000

In [18]:
prod_5.describe()

,id,duration_months,credit_amount,installment_rate,present_residence_since,age_years,number_existing_credits,number_people_liable,label_value,score
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,492.860759,35.512658,5376.924051,3.075949,2.873418,36.139241,1.449367,1.132911,0.449367,0.468354
std,296.823962,10.371284,3510.409921,1.079893,1.110082,11.083624,0.559202,0.340558,0.499011,0.500584
min,6.000000,24.000000,909.000000,1.000000,1.000000,21.000000,1.000000,1.000000,0.000000,0.000000
25%,225.250000,24.000000,2691.000000,2.000000,2.000000,28.000000,1.000000,1.000000,0.000000,0.000000
50%,489.000000,36.000000,4339.000000,4.000000,3.000000,34.000000,1.000000,1.000000,0.000000,0.000000
75%,762.500000,42.000000,7408.750000,4.000000,4.000000,42.000000,2.000000,1.000000,1.000000,1.000000
max,998.000000,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000,1.000000,1.000000